@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.background-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 900px;
  width: 100%;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  width: 100%;
  height: 70%;
  max-width: 400px; /* Adjust the maximum width as needed */
  padding: 20px;
  background-color: #2ba297;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the box horizontally on the page */
}
.grpTitle {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center content */
  align-items: center;
}
.TitlePersn {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  margin: 0px;
  margin-top: 20px;
  text-align: center;
}
.TitlePersn span {
  color: #fff;
  font-weight: bolder;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  margin: 0px;
  margin-top: 20px;
  text-align: center;
}
.frontendEngineer {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  margin: 0px;
}
.socialIcons {
  font-size: 55px; /* Adjust the size as needed */
  color: white;
  margin-right: 5px; /* Optional margin between icons */
}
/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .box {
    max-width: 300px; /* Adjust for smaller screens */
  }
}
