.downloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #2ba297;
  color: #fff;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  width: 80px;
  height: 80px;
}
.styleIcons {
  font-size: 50px;
  color: white;
}
